* {
  box-sizing: border-box;
  margin: 0;
  display: block;
  position: relative;
  max-width: 100%;
}

style,
script,
head {
  display: none;
}

html {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background: #222;
  display: grid;
  grid-template-columns: 65fr 35fr;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  font-family: sans-serif;
  overflow-x: hidden;
}

@media (orientation: portrait) {
  body {
    display: block;
  }
}

button,
input {
  background: #333;
  border: 0;
  padding: 1rem;
  color: #fff;
  font-size: 18px;
  outline: none;
  margin: 0;
}

select {
  font-size: 1.38rem;
  background: none;
  max-width: 90%;
  height: 4rem;
  border-color: #222;
  color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  border: 1rem solid transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  border-top: 0;
  border-radius: 0;
}

svg {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}

input[type='range'] {
  -webkit-appearance: none;
  background: transparent;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #111;
  border-radius: 1.3px;
}
input[type='range']::-webkit-slider-thumb {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #111;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #242424;
}
